.home {
    height: 300px;
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    background: rgba(73, 75, 78, 0.61);
    box-shadow: 0 10px 50px black;
}

h2 {
    margin: 0px;
    font-size: 2rem;
}

input{
    all: unset;
    appearance: none;
    height: 20%;
    min-height: 1rem;
    width: 70%;
    min-width: 250px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);

}

input:hover {
    /* border: 5px solid rgb(143, 254, 143); */
    background-color: white;
}
input:focus {
    background-color: white;
}

button {
    all: unset;
    height: 15%;
    padding: 0 20px;
    border-radius: 10px;
    font-size: large;
    background-color: rgb(74, 117, 74);
}

button:hover {
    background-color: rgb(101, 215, 101);
    color: black;
    font-weight: 700;
}